<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It's a secret</title>
</head>
<body>

<h1>Top flight Security Secret rendered via magic</h1>

<!-- These will all look better later. I just want to get it working, hopefully creating a user object
lets us store information about them to use in features. -->

<li><a href="/register">register!</a></li>
<li><a href="/login">login!</a></li>
<li><a href="/logout">logout!</a></li>
    
</body>
</html>